:root {
    --color-primario: #011627;
    --color-secundario: #1b1b32;
    --color-texto: #f5f5f5;
  }

.fondo {
    background-color: var(--color-primario);
}

.cabecera {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
.cabecera img {
    max-width: 100%;
    height: auto;
}

.contenedor {
    background-color: var(--color-secundario);
    width: 900px;
    height: 450px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    margin: 0 auto; 
    padding: 30px;
}

.mensaje1, 
.mensaje2, 
.mensaje3, 
.mensaje4, 
.mensaje5, 
.mensajeError {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-texto);
  text-align: center;
  vertical-align: middle;
}

.mensaje1 p,
.mensaje2 p,
.mensaje3 p,
.mensaje4 p,
.mensaje5 p,
.mensajeError p {
    font-size: 15px;
    font-weight: bold;
}

input[type="button"] {
    border: 1px solid #ccc;
    color: var(--color-texto);
    background-color: var(--color-primario);
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#ingreso {
    margin-top: 10px;
}

#tvPlasma,
#tvLCD,
#tvLED,
#si,
#no,
#1pago,
#6cuotas,
#12cuotas {
    margin-top: 15px;
}

input[type="text"] {
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    max-width: 255px;
    border-radius: 8px;
}

#nombre,
#apellido {
    margin-top: 10px;
}